html,
h1,
h2,
h3,
p,
div,
ul,
ol,
li,
header,
main,
section,
nav {
	margin: 0;
	padding: 0;
}

.wrapper {
	background-color: #cccccc;
	max-width: 1440px;
	width: 100%;
	margin: auto;
}

.wrap-content {
	width: 1200px;
	margin: auto;
}

.wrap-image {
	background-image: url(assets/fox_background.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-color: #02160b;
	height: 780px;
	color: #f7f7f7;
}

/*HEADER*/
header {
	display: flex;
	justify-content: space-between;
	padding-top: 16px;
}

.logo {
	display: flex;
	align-items: center;
	width: 20%;
}

.logo img {
	padding-right: 14px;
}

.logo h1 {
	font-family: Roboto;
	font-size: 32px;
	font-weight: normal;
	text-transform: uppercase;	
}

nav {
	width: 60%;
	margin-top: 20px;
	font-family: Open Sans;
	font-size: 23px;
}

.menu ul {
	display: flex;
	justify-content: flex-end;
	margin-left: 95px;
	list-style-type: none;
}

.menu li a {
	padding-right: 68px;
	text-decoration: none;
	color: #f7f7f7;
	cursor: pointer;
}

.menu a:hover {
	color: #cd6326;
}

.logo:hover,
.menu li img:hover {
	opacity: 0.5;
	cursor: pointer;
}

.button-menu {
	display: block;
	margin-left: 68px;
	margin-top: -11px;
	padding: 10px 23px;
	text-align: center;
	border: 2px solid #cd6326;
	border-radius: 5px;
	cursor: pointer;
}

/*SECTION*/
.survival {
	width: 23%;
	margin-top: 128px;
	font-family: Open Sans;
}

h2 {
	margin-top: 1px;
	font-size: 49px;
	letter-spacing: 3px;
	color: #cd6326;
}

.survival p {
	text-align: justify;
	margin-top: 58px;
	font-size: 18px;
	line-height: 28px;
}

.button {
	display: block;
	width: 29%;
	margin-top: 47px;
	padding: 17px 40px;
	font-family: Roboto;
	font-size: 23px;
	text-align: center;
	text-decoration: none;
	background-color: #cd6326;
	border-radius: 5px;
	color: #f7f7f7;
}

.button-menu:hover,
.button:hover {
	background-color: #ef9614;
}

.button-menu:active,
.button:active {
  background-color: #714b14;
}

/*MAIN*/
main {
	font-family: Open Sans;
	text-align: center;
}

.content-latest {
	margin: 130px auto 98px;
}

.content-latest h2 {
	font-size: 48px;
	letter-spacing: 1px;
	color: #333333;
}

.content-latest p {
	padding-top: 31px;
	font-size: 23px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #666666;
}

/*SLIDER*/
.slider {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-item {
  position: relative;	
  margin: 30px;
	
}

.flex1,
.flex5 {
	cursor: pointer;
}

.flex1:hover,
.flex5:hover {
	opacity: 0.4;
}

.content-img {
	position: absolute;
	top: 70%;
	width: 100%;
	margin: auto;
	letter-spacing: 1px;
	color: white;
}

.content-img p {
	padding-top: 22px;
}

/*FORMA*/
form {
	margin-top: 212px;
	margin-bottom: 240px;
	font-family: Roboto;
}

form p {
	font-size: 26px;
	letter-spacing: 1px;
}

.email {
	margin-top: 65px;
	padding-right: 201px;
}

input[type="email"] {
	width: 520px;
	height: 58px;
	margin-left: 80px;
	padding-left: 16px;
  font-size: 24px;
	background-color: #cccccc;
	border: 1px solid #666666;
	border-right: none;
	color: #666666;
}

input[type="email"]:focus,
button[type="submit"] {
	outline: none;
}

::-webkit-input-placeholder {
	font-family: "Roboto", sans-serif;
	font-size: 22px;
}

:focus::-webkit-input-placeholder {
	color: #f2eded00;
}

button[type="submit"] {
  position: absolute;
	width: 123px;
	height: 62px;
	font-size: 22px;
	background: #cd6326;
	border: 1px solid #cd6326;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
  color: #f7f7f7;
}
button[type="submit"]:hover {
	background: #ef9614;
}

/*FOOTER*/
footer {
	background-image: url(assets/footer.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	background-color: #181617;
	height: 360px;
}

footer .wrap-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 143px;
}

footer .logo {
	width: 20%;
	margin-top: 3px;
	cursor: pointer;
  color: #f7f7f7;
}

footer .logo p {
	font-family: Roboto;
	font-size: 32px;
	text-transform: uppercase;
}

footer .logo:hover {
	opacity: 0.8;
}

.bottom-menu {
	width: 50%;
	margin: 0 auto;
	font-family: Open Sans;
	font-size: 23px;
}

.bottom-menu ul {
  display: flex;
  margin-top: 2px;
	padding-left: 30px;
	list-style-type: none;
}

.bottom-menu li {
	margin-left: 92px;
}

.bottom-menu a {
	text-decoration: none;
	color: #f7f7f7;
	cursor: pointer;
}

.bottom-menu a:hover {
	color: #cd6326;
}

.icon {
	display: flex;
	justify-content: flex-end;
	width: 30%;
	margin: auto;
}

.icon ul {
	list-style-type: none;
	margin-top: 8px;
}

.icon li {
	display: inline;
	padding-left: 23px;
}

.icon li:hover {
	opacity: 0.8;
}
